body {
    margin: 0;
    font-family:Montserrat,Roboto,sans-serif;
}

/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 100px;
    grid-template-areas:
      "header"
      "main"
      "footer";
    height: 100vh;
  }
  
  /* Give every child element its grid name */
  .header {
    grid-area: header;
    background-color: #648ca6;
  }
  
  .main {
    grid-area: main;
    background-color: #8fd4d9;
  }
  
  .footer {
    grid-area: footer;
    background-color: #648ca6;
  }

  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
    background-color: #648ca6;
    opacity: .9;
  }

  .menu__item {
      margin: 0 1em;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      opacity: .9;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: auto;
    background-color: #e3e4e6;
    color: slategray;
  }

  #map {
    height: 100%;
  }