
@{
    ViewData["Title"] = "Varnos - Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box--center" style="max-width: 400px; margin-top: 1em">
    <h2>Sign Up</h2>
    <div class="field">
        <div class="field-label">Email</div>
        <input type="text" class="input" placeholder="you@company.com">
    </div>
    <div class="field">
        <div class="field-label">Username</div>
        <input type="text" class="input" placeholder="varna">
    </div>
    <div class="field">
        <div class="field-label">First Name</div>
        <input type="text" class="input" placeholder="John">
    </div>
    <div class="field">
        <div class="field-label">Last Name</div>
        <input type="text" class="input" placeholder="Doe">
    </div>
    <div class="field">
        <div class="field-label">Password</div>
        <input type="password" class="input" placeholder="password">
        <div class="field-helper">Password must contain at least 8 characters</div>
    </div>
    <div class="field">
        <div class="field-label">Retype Your Password</div>
        <input type="password" class="input" placeholder="password">
    </div>
    <div class="button button--primary" style="margin-top: 1em">Sign Up</div>
</div>